TEMPORAL_SERVER_URL=localhost:7233
TEMPORAL_NAMESPACE=sentientx

# API Settings
PORT=8000
HOST=0.0.0.0

# Enable development mode (set to false in production)
DEBUG=true
# decryption of the API keys use this key
ENCRYPTION_SECRET=
# Supabase configuration for API keys
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=